/* For Very Small Devices */
@media screen and (min-width:321px) and (max-width:380px) {

    *,
    ul {
        margin: 0;
        padding: 0;
    }

    .img_cent {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bid_bg_tex {
        transform: translate(0px, 20px);
        padding-left: 5px;
    }

    .bid_bg_tex h4 {
        font-size: 16px;
    }

    .bid_bg_tex p {
        font-size: 15px;
        margin-bottom: 8px;
    }

    .bid_bg_tex button {
        margin-top: 10px;
        size: 10px;
        padding: 1px;
        border-radius: 0;
    }

    .adob_ff {
        text-align: center
    }

    .view_but {
        margin-top: 5px;
    }

    .brows_hov {
        margin-top: 10px;
    }

    .wha_bid_p {
        padding: 0;
    }

    .sm_fs {
        font-size: 15px;
        padding-left: 12px;
    }

    .suppor_tex {
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }



}

/* For Mobiles */
@media screen and (min-width:576px) and (max-width:767px) {
    .bid_img {
        margin: 0;

    }

    .bid_bg_tex {
        padding: 0;
    }

    .suppor_tex {
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

/* For Tablets */

@media screen and (min-width:768px) and (max-width:991px) {
    .bid_bg_tex {
        padding-left: 50px;
    }

    .suppor_tex {
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .blu_bloc {
        margin-left: 125px;
    }

    .wor_pad {
        padding-left: 40px;
    }

    .item_mar {
        margin-left: 50px;
    }
}

/* For Big Screens */

@media screen and (min-width:992px) and (max-width:1199px) {
    .bid_bg_tex {
        padding-left: 50px;
    }

    .suppor_tex {
        padding-right: 200px;
        padding-left: 200px;
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .blu_bloc {
        margin-left: 170px;
    }

    .item_pad {
        padding-left: 130px;
    }

    .wor_pad {
        padding-left: 170px;
    }

    .item_mar {
        margin-left: 50px;
    }

}

@media screen and (min-width:1200px) and (max-width:1399px) {
    .bid_bg_tex {
        padding-left: 50px;
    }

}

@media screen and (min-width:1400px) and (max-width:1600px) {}