/* For Mobiles */
@media screen and (min-width:576px) and (max-width:767px) {
    .bid_img {
        margin: 0;

    }

    .bid_bg_tex {
        padding: 0;
    }

    .suppor_tex {
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .sel_item_img {
        padding-left: 23px;
        margin-top: 130px;
    }

    .sel_item_tex {
        margin-top: 142px;
    }

}

/* For Tablets */

@media screen and (min-width:768px) and (max-width:991px) {
    .bid_bg_tex {
        padding-left: 50px;
    }

    .suppor_tex {
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .blu_bloc {
        margin-left: 125px;
    }

    .wor_pad {
        padding-left: 40px;
    }

    .sel_item_img {
        padding-left: 25px;
        margin-top: 135px;
    }

    .sel_item_img {
        padding-left: 70px;
        margin-top: 133px;
    }

    .sel_item_tex {
        margin-top: 142px;
    }

    .item_mar {
        margin-left: 50px;
    }
}

/* For Big Screens */

@media screen and (min-width:992px) and (max-width:1199px) {
    .bid_bg_tex {
        padding-left: 50px;
    }

    .suppor_tex {
        padding-right: 200px;
        padding-left: 200px;
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .blu_bloc {
        margin-left: 170px;
    }

    .item_pad {
        padding-left: 130px;
    }

    .wor_pad {
        padding-left: 170px;
    }

    .sel_item_tex {
        margin-top: 142px;
    }

    .sel_item_img {
        padding-left: 50px;
        margin-top: 135px;
    }

    .item_mar {
        margin-left: 50px;
    }

}

@media screen and (min-width:1200px) and (max-width:1399px) {
    .bid_bg_tex {
        padding-left: 50px;
    }

    .sel_item_tex {
        margin-top: 142px;
    }

    .sel_item_img {
        padding-left: 21px;
        margin-top: 135px;
    }

}

@media screen and (min-width:1400px) and (max-width:1600px) {
    .sel_item_tex {
        margin-top: 166px;
    }

    .sel_item_img {
        padding-left: 42px;
        margin-top: 158px;
    }
}