/* SignUp CSS */
* {
    margin: 0;
    padding: 0;
}

.blue_bg {
    background-color: #0B326D;
}

.oran_bg {
    background-color: #FF663E;
}

.white_bg {
    background-color: white;
}

.blue_tex {
    color: #0B326D;
}

.grey_bg {
    background-color: #DCE4EB;
}

.blo_radi {
    border: none;
    border-radius: 0 0 830px 0;
}

.lin_col {
    text-decoration: none;
    color: #FF663E;
}

.lin_col:hover {
    color: #FF663E;
    text-decoration: underline;
}

/* HomePage CSS */

.flo_hid {
    overflow-x: hidden;
}

.bid_img {
    position: absolute;
    width: 89%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.bid_img_tex {
    position: relative;
    transform: translate(80px, 40px);
}

.but_bor {
    border-color: #606263;
}

.brows_hov {
    color: #6C757D;
}

.brows_hov:hover {
    background-color: #FF663E;
    color: white;
    transition: .5s;
}

.view_but {
    background-color: #0B326D;
    color: white;
    font-weight: bold;
    border: none;
}

.deta_but:hover {
    background-color: rgb(235, 235, 235);
    color: #0B326D;
    transition: .5s;
}

.view_but:hover {
    background-color: rgb(235, 235, 235);
    color: #0B326D;
    font-weight: bold;
    transition: .5s;
}

.lap_img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.bid_img_mar {
    padding-top: 100px;
}

.prod-thumb {
    position: relative;
}

.deadline,
.likebox {
    position: absolute;
}

.deadline {
    color: white;
    margin-left: 10px;
    padding-right: 80px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    bottom: 10px;
    left: 0;
    background-color: #CC3300;
    border: none;
    border-radius: 0 25px 0 0;
}

.likebox {
    margin-right: 10px;
    bottom: 10px;
    right: 0;
    text-decoration: none;
}

.sm_tex {
    font-size: 14px;
}

.grey_tex {
    color: #C6D5E1;
}

.wor_img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}



.blog_hei {
    height: 160px;
}

.join_inp {
    width: 350px;
}

.suppor_bg {
    background-image: url(/assets/images/support_img.jpg);
    background-position: center;
    height: 45vh;
}

.suppor_tex {
    padding-top: 70px;
    padding-left: 200px;
}

.wha_bid_p {
    padding-left: 220px;
    padding-right: 220px;
}

.adob_ff {
    font-family: adobe-clean, sans-serif;
}